{
  "openapi": "3.1.0",
  "info": {
    "title": "link-transaction",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.linkio.world"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "ngnc-sec-key",
        "x-default": ""
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/transactions/v2/onramp": {
      "post": {
        "summary": "Initiate Onramp",
        "description": "",
        "operationId": "onramp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["currency", "amount", "stables"],
                "properties": {
                  "currency": {
                    "type": "string",
                    "description": "Currency in which user wants to pay for onramp asset. (NGN, USD)",
                    "default": "NGN",
                    "enum": ["NGN", "USD"]
                  },
                  "amount": {
                    "type": "string",
                    "description": "Amount user wishes to onramp based on currency selected. (Min ~ 15K NGN,  20USD)"
                  },
                  "stables": {
                    "type": "string",
                    "description": "Stable coin in which user wants to be settle in.(USDC, USDT)",
                    "enum": ["USDC", "USDT"]
                  },
                  "vendor_bank": {
                    "type": "string",
                    "description": "Use the \"Fetch Payment Vendors\" ENDPOINT to fetch the list of supported payment vendors"
                  },
                  "vendor_number": {
                    "type": "string",
                    "description": "Use the \"Fetch Payment Vendors\" ENDPOINT."
                  },
                  "vendor_name": {
                    "type": "string",
                    "description": "Use the \"Fetch Payment Vendors\" ENDPOINT."
                  },
                  "wallet_address": {
                    "type": "string",
                    "description": "Wallet address where the on-ramp stablecoin token will be sent to."
                  },
                  "network": {
                    "type": "string",
                    "description": "The address network to disburse payment. Our supported networks are (Wallet address network. Our supported networks are (Arbitrum, Avalanche, Stellar, Base, Polygon, Solana, Stellar, Tron, XRPL)."
                  },
                  "bank_name": {
                    "type": "string",
                    "description": "Proof of payment Bank used to send money to the vendor account"
                  },
                  "account_number": {
                    "type": "string",
                    "description": "Proof of payment Account number of bank used to send money to the vendor account."
                  },
                  "routing_number": {
                    "type": "string",
                    "description": "Proof of payment Bank Routing number used to send money to the vendor account"
                  },
                  "bank_address": {
                    "type": "string",
                    "description": "Optional for transactions that provide bank transaction address"
                  },
                  "developer_fee": {
                    "type": "boolean",
                    "description": "Businesses that wish to charge a certain percentage on your their users for each transaction made.",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"status\": \"success\",\n    \"message\": \"Transaction Request successful\",\n    \"transaction\": {\n        \"transaction_id\": \"645c329afc3ac414bf70f9a1\",\n        \"business\": {\n            \"business_id\": \"0123456789\"\n        },\n        \"type\": \"Buy\",\n        \"reference\": \"0984938271\",\n        \"amount\": 25639.55,\n        \"link_account_name\": \"Okemdinachi Nwaejie\",\n        \"link_account_number\": \"8180789670\",\n        \"link_bank_name\": \"Wema Bank\",\n        \"account_number\": \"3338900202\",\n        \"bank_name\": \"Providus Bank\",\n        \"link_tag\": \"Link_eng\",\n        \"network\": \"Avalanche\",\n        \"wallet_address\": \"x.fie9383jEU8394jdnc\",\n        \"date_created\": \"May 11, 2023\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Transaction Request successful"
                    },
                    "transaction": {
                      "type": "object",
                      "properties": {
                        "transaction_id": {
                          "type": "string",
                          "example": "645c329afc3ac414bf70f9a1"
                        },
                        "business": {
                          "type": "object",
                          "properties": {
                            "business_id": {
                              "type": "string",
                              "example": "0123456789"
                            }
                          }
                        },
                        "type": {
                          "type": "string",
                          "example": "Buy"
                        },
                        "reference": {
                          "type": "string",
                          "example": "0984938271"
                        },
                        "amount": {
                          "type": "number",
                          "example": 25639.55,
                          "default": 0
                        },
                        "link_account_name": {
                          "type": "string",
                          "example": "Okemdinachi Nwaejie"
                        },
                        "link_account_number": {
                          "type": "string",
                          "example": "8180789670"
                        },
                        "link_bank_name": {
                          "type": "string",
                          "example": "Wema Bank"
                        },
                        "account_number": {
                          "type": "string",
                          "example": "3338900202"
                        },
                        "bank_name": {
                          "type": "string",
                          "example": "Providus Bank"
                        },
                        "link_tag": {
                          "type": "string",
                          "example": "Link_eng"
                        },
                        "network": {
                          "type": "string",
                          "example": "Avalanche"
                        },
                        "wallet_address": {
                          "type": "string",
                          "example": "x.fie9383jEU8394jdnc"
                        },
                        "date_created": {
                          "type": "string",
                          "example": "May 11, 2023"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": ["Retail FX"]
      }
    },
    "/transactions/v2/offramp": {
      "post": {
        "summary": "Initiate Offramp",
        "description": "",
        "operationId": "offramp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["stables", "amount", "currency"],
                "properties": {
                  "stables": {
                    "type": "string",
                    "description": "Stable coin in which user wants to off-ramp in. (USDC, USDT)",
                    "enum": ["USDC", "USDT"]
                  },
                  "amount": {
                    "type": "string",
                    "description": "Amount in (USDC/USDT) that the users wishes to offramp into a USD or NGN bank account. (Min ~ 20 USDT / USDC).",
                    "default": "20"
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency in which user wants to receive funds. (NGN,USD)",
                    "default": "NGN",
                    "enum": ["NGN", "USD"]
                  },
                  "bank_name": {
                    "type": "string",
                    "description": "Use the \"fetch Payment banks\" ENDPOINT to fetch the list of supported payment banks. Only the name needs to be passed"
                  },
                  "account_number": {
                    "type": "string",
                    "description": "Customer's bank account number for where funds should be sent to."
                  },
                  "account_name": {
                    "type": "string",
                    "description": "Bank name associated with bank account number provided above."
                  },
                  "wallet_address": {
                    "type": "string",
                    "description": "Origin wallet address where funds would be sent from."
                  },
                  "network": {
                    "type": "string",
                    "description": "Wallet address network. Our supported networks are (Arbitrum, Avalanche, Stellar, Base, Polygon, Solana, Stellar, Tron, XRPL)"
                  },
                  "routing_number": {
                    "type": "string",
                    "description": "Please provide routing number for USD request."
                  },
                  "account_type": {
                    "type": "string",
                    "description": "Please select either checkings or savings for USD request.",
                    "default": "checkings"
                  },
                  "chargeFeeOnRequest": {
                    "type": "boolean",
                    "description": "Setting this option to true, allows users see what amount they receive after the fee has been deducted. Currently available for payout to NGN accounts only.",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"status\": \"success\",\n    \"message\": \"Transaction Request successful\",\n    \"transaction\": {\n        \"transaction_id\": \"645c31fdedd472fb04b3be53\",\n        \"business\": {\n            \"business_id\": \"0123456789\"\n        },\n        \"type\": \"Sell\",\n        \"reference\": \"64125118694\",\n        \"amount\": 102094,\n        \"account_name\": \"Tansi Jones\",\n        \"account_number\": \"9480948372\",\n        \"bank_name\": \"Wema bank\",\n        \"link_tag\": \"Link_eng\",\n        \"date_created\": \"May 11, 2023\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Transaction Request successful"
                    },
                    "transaction": {
                      "type": "object",
                      "properties": {
                        "transaction_id": {
                          "type": "string",
                          "example": "645c31fdedd472fb04b3be53"
                        },
                        "business": {
                          "type": "object",
                          "properties": {
                            "business_id": {
                              "type": "string",
                              "example": "0123456789"
                            }
                          }
                        },
                        "type": {
                          "type": "string",
                          "example": "Sell"
                        },
                        "reference": {
                          "type": "string",
                          "example": "64125118694"
                        },
                        "amount": {
                          "type": "integer",
                          "example": 102094,
                          "default": 0
                        },
                        "account_name": {
                          "type": "string",
                          "example": "Tansi Jones"
                        },
                        "account_number": {
                          "type": "string",
                          "example": "9480948372"
                        },
                        "bank_name": {
                          "type": "string",
                          "example": "Wema bank"
                        },
                        "link_tag": {
                          "type": "string",
                          "example": "Link_eng"
                        },
                        "date_created": {
                          "type": "string",
                          "example": "May 11, 2023"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": ["Retail FX"]
      }
    },
    "/transactions/v2/retail_rate": {
      "get": {
         "summary": "Get Retail Rate",
        "description": "",
        "operationId": "get_retail_rate",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "trx_type",
            "schema": {
              "type": "string",
              "enum": ["onramp", "offramp"]
            },
            "required": true,
            "description": "Transaction type"
          }
        ],
        "tags": ["Retail FX"]
      }
    },
    "/transactions/v2/direct_ramp/payment_methods": {
      "get": {
        "description": "",
        "operationId": "get_direct_ramppayment_methods",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "currency",
            "schema": {
              "type": "string",
              "enum": ["GHS", "KES", "NGN", "ZAR"],
              "default": "NGN"
            },
            "required": true,
            "description": "Available currenies"
          }
        ],
        "tags": ["Pan-Africa Ramp"],
        "summary": "Payment Methods"
      }
    },
    "/transactions/v2/direct_ramp/onboarding": {
      "post": {
        "description": "",
        "operationId": "post_direct_ramponboarding",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "email",
            "schema": {
              "type": "string"
            },
            "description": "Your customers email address.",
            "required": true
          },
          {
            "in": "query",
            "name": "first_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Customer first name."
          },
          {
            "in": "query",
            "name": "last_name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Customer last name."
          },
          {
            "in": "query",
            "name": "country",
            "schema": {
              "type": "string",
              "enum": [
                "Nigeria",
                "Ghana",
                "Kenya",
                "South Africa",
                "Botswana",
                "Cameroon",
                "Malawi",
                "Mozambique",
                "Sierra Leone",
                "Tanzania",
                "Uganda",
                "Zambia",
                "Cote D'Ivoire",
                "Rwanda"
              ]
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "tags": ["Pan-Africa Ramp"],
        "summary": "Customer Onboard"
      }
    },
    "/transactions/v2/direct_ramp/rate_quote": {
      "get": {
        "description": "",
        "operationId": "get_ramp_quote",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "customer_id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "asset",
            "schema": {
              "type": "string",
              "enum": ["NGN", "GHS", "KES", "ZAR", "USDT", "USDC"]
            },
            "required": true,
            "description": "Available currencies. NOTE: USDT/USDC are for offramp only"
          },
          {
            "in": "query",
            "name": "amount",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "amount to on ramp or offramp based of currency."
          },
          {
            "in": "query",
            "name": "trx_type",
            "schema": {
              "type": "string",
              "enum": ["onramp", "offramp"]
            },
            "description": "Transaction type: \"onramp\" for \"Fiat\"\u2192Stables, \"offramp\" for Stables\u2192\"Fiat\". ",
            "required": true
          },
          {
            "in": "query",
            "name": "payment_method",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Differs for each currency. Call the Get payment Method endpoint."
          }
        ],
        "tags": ["Pan-Africa Ramp"],
        "summary": "Rate Quote"
      }
    },
    "/transactions/v2/direct_ramp/deposit": {
      "post": {
        "description": "",
        "operationId": "get_new-endpoint-1",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "quoteId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Id from get Rate Quote endpoint."
          },
          {
            "in": "query",
            "name": "currency",
            "schema": {
              "type": "string",
              "enum": ["NGN", "GHS", "KES", "ZAR"],
              "default": "NGN"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "stables",
            "schema": {
              "type": "string",
              "enum": ["USDC", "USDT"],
              "default": "USDC"
            },
            "required": true,
            "description": "Stable coin in which user wants to be settled in (USDC, USDT)."
          },
          {
            "in": "query",
            "name": "network",
            "schema": {
              "type": "string",
              "enum": ["base", "matic"]
            },
            "required": true,
            "description": "The address network to disburse payment."
          },
          {
            "in": "query",
            "name": "address",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Wallet address stablecoin token will be sent to."
          },
          {
            "in": "query",
            "name": "phone_number",
            "schema": {
              "type": "string"
            },
            "description": "currency payment method is mobile money transfer. input phone number sending funds."
          },
          {
            "in": "query",
            "name": "bankaccount_number",
            "schema": {
              "type": "string"
            },
            "description": "Currency payment method is bank transfer. Input account number sending funds."
          }
        ],
        "tags": ["Pan-Africa Ramp"],
        "summary": "Direct Onramp"
      }
    },
    "/transactions/v2/direct_ramp/payout_account": {
      "post": {
        "description": "",
        "operationId": "post_direct_ramppayout_account",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "customer_id",
            "schema": {
              "type": "string"
            },
            "description": "ID of the customer who owns the payment method.",
            "required": true
          },
          {
            "in": "query",
            "name": "payment_method",
            "schema": {
              "type": "string"
            },
            "description": "Differs for each currency. Call the Get payment Method endpoint",
            "required": true
          },
          {
            "in": "query",
            "name": "destination",
            "schema": {
              "type": "string",
              "enum": ["first_party", "third_party"],
              "default": "first_party"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "customer banking name related to payment method."
          },
          {
            "in": "query",
            "name": "phone_number",
            "schema": {
              "type": "string"
            },
            "description": "Mobile money phone number"
          },
          {
            "in": "query",
            "name": "account_number",
            "schema": {
              "type": "string"
            },
            "description": "Customer Bank account number"
          },
          {
            "in": "query",
            "name": "bank_name",
            "schema": {
              "type": "string"
            },
            "description": "Customer Bank name"
          }
        ],
        "tags": ["Pan-Africa Ramp"],
        "summary": "Payout Account"
      }
    },
    "/transactions/v2/direct_ramp/withdraw": {
      "post": {
        "description": "",
        "operationId": "get_direct_rampwithdraw",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "quoteId",
            "schema": {
              "type": "string"
            },
            "description": "Gotten from get Rate Quote endpoint.",
            "required": true
          },
          {
            "in": "query",
            "name": "payout_id",
            "schema": {
              "type": "string"
            },
            "description": "Customer Payout method ID gotten from Add Payout method endpoint.",
            "required": true
          },
          {
            "in": "query",
            "name": "stables",
            "schema": {
              "type": "string",
              "enum": ["USDT", "USDC"]
            },
            "required": true,
            "description": "stable coin used for offramp"
          },
          {
            "in": "query",
            "name": "offramp_amount",
            "schema": {
              "type": "string"
            },
            "description": "Stables amount based of generated quote.",
            "required": true
          },
          {
            "in": "query",
            "name": "payout_currency",
            "schema": {
              "type": "string",
              "enum": ["NGN", "GHS", "KES", "ZAR", "XAF", "TZS"],
              "default": "NGN"
            },
            "required": true,
            "description": "Currency to be settled in based of generated quote"
          },
          {
            "in": "query",
            "name": "sender_address",
            "schema": {
              "type": "string"
            },
            "description": "Wallet address funds sent from.",
            "required": true
          },
          {
            "in": "query",
            "name": "network",
            "schema": {
              "type": "string",
              "enum": ["Bsc", "matic", "base"]
            },
            "required": true
          }
        ],
        "tags": ["Pan-Africa Ramp"],
        "summary": "Direct Offramp"
      }
    },
    "/transactions/v2/direct_ramp/transfer_sent": {
      "post": {
        "description": "",
        "operationId": "post_direct_rampdepositpayment_made",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "trx_type",
            "schema": {
              "type": "string",
              "enum": ["onramp", "offramp"]
            },
            "required": true
          },
          {
            "in": "query",
            "name": "reference",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": ["Pan-Africa Ramp"],
        "summary": "Confirm Transfer"
      }
    },
    "/transactions/v2/direct_ramp/payout/status": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "trx_reference",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The reference code "
          }
        ],
        "operationId": "get_direct-ramp-payout-status",
        "tags": ["Pan-Africa Ramp"],
        "summary": "Transaction Status"
      }
    },
    "/transactions/v2/direct_ramp/customer": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "email",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Email address of you customer used when calling the {Direct Onboard} Endpoint"
          }
        ],
        "operationId": "get_direct-ramp-customer",
        "tags": ["Pan-Africa Ramp"],
        "summary": "Customer Info"
      }
    },
    "/transactions/v2/brl/ramp_quote": {
      "get": {
        "description": "",
        "operationId": "get_fetch_quote_rate",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "examples": {
                  "New Example": {
                    "summary": "New Example",
                    "value": {
                      "status": "Success",
                      "message": "Rate retrieved successfully",
                      "data": {
                        "baseRate": "5.574069",
                        "inputAmount": "4500",
                        "outputAmount": "797.586041",
                        "outputCurrency": "USDC",
                        "outputPaymentMethod": "POLYGON",
                        "validity": "15 seconds"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "description": "Amount of BRL (on-ramp min: 100 BRL) or USDC (off-ramp  min: 5 USDC/USDT) to convert.",
            "schema": {
              "type": "string",
              "default": "100"
            }
          },
          {
            "name": "trx_type",
            "in": "query",
            "required": true,
            "description": "Transaction type: \"onramp\" for BRL\u2192USDC, \"offramp\" for USDC\u2192BRL. ",
            "schema": {
              "type": "string",
              "default": "",
              "enum": ["onramp", "offramp"]
            }
          }
        ],
        "tags": ["BRL Ramp"],
        "summary": "Rate Quote"
      }
    },
    "/transactions/v2/reg_wallet_address": {
      "post": {
        "description": "",
        "operationId": "post_register_wallet",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "examples": {
                  "New Example": {
                    "summary": "New Example",
                    "value": "{\n  \"status\": \"Success\",\n  \"message\": \"User's wallet address registered\",\n  \"wallet_id\": \"abc123def456\"    // Unique identifier for the new wallet\n}"
                  }
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "network": {
                    "type": "string",
                    "description": "Blockchain network (must be \"POLYGON\").",
                    "default": "POLYGON"
                  },
                  "user_wallet_address": {
                    "type": "string",
                    "description": "On-chain address (Polygon) where the customer will receive/send funds."
                  },
                  "user_name": {
                    "type": "string",
                    "description": "Friendly alias for the customer (e.g. \u201cJohnwick\u201d)."
                  }
                },
                "type": "object",
                "required": ["user_wallet_address", "user_name", "network"]
              }
            }
          }
        },
        "tags": ["BRL Ramp"],
        "summary": "Register Wallet Address"
      }
    },
    "/transactions/v2/brl/initiate_onramp": {
      "post": {
        "description": "",
        "operationId": "post_create_ticket",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "examples": {
                  "New Example": {
                    "summary": "New Example",
                    "value": {
                      "status": "Success",
                      "message": "Quote ticket created successfully",
                      "ticket_id": "ticket_123abc",
                      "payment_code": "000201010212...",
                      "validity": "5 minutes",
                      "qrcode_url": "data:image/png;base64,..."
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "amount": {
                    "type": "string",
                    "description": "Amount in BRL to convert."
                  },
                  "wallet_id": {
                    "type": "string",
                    "description": "The beneficiary wallet ID from Register Wallet."
                  },
                  "stables": {
                    "type": "string",
                    "description": "Stablecoin t\u00f8ken to receive in USDC/USDT.",
                    "default": "USDC"
                  }
                },
                "type": "object",
                "required": ["wallet_id", "amount", "stables"]
              }
            }
          }
        },
        "tags": ["BRL Ramp"],
        "summary": "BRL Auto Onramp"
      }
    },
    "/transactions/v2/brl/initiate_offramp": {
      "post": {
        "description": "",
        "operationId": "post_initiate_brl_offramp",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "examples": {
                  "New Example": {
                    "summary": "New Example",
                    "value": "{\n  \"status\": \"Success\",\n  \"message\": \"Off-ramp ticket created successfully\",\n  \"ticket_id\": \"ticket_789xyz\",\n  \"payment_code\": \"000201010212...\",\n  \"validity\": \"5 minutes\",\n  \"paymentWalletAddress\": \"0x211...\",// Valid  for Offramp. where to send USDC to.\n}"
                  }
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "pix_key": {
                    "type": "string",
                    "description": "The registered PIX key (BRL payout account) where BRL will be sent after swap."
                  },
                  "amount": {
                    "type": "string",
                    "description": "Amount in USDC/USDT to convert into BRL."
                  },
                  "wallet_address": {
                    "type": "string",
                    "description": "On-chain address  customer used to send their USDC/USDT "
                  },
                  "stables": {
                    "type": "string",
                    "description": "Stablecoin t\u00f8ken to send in. USDC/USDT.",
                    "default": "USDC"
                  }
                },
                "type": "object",
                "required": ["pix_key", "amount", "wallet_address", "stables"]
              }
            }
          }
        },
        "tags": ["BRL Ramp"],
        "summary": "BRL Auto Offramp"
      }
    },
    "/transactions/v2/idr/onboarding": {
      "post": {
        "description": "",
        "operationId": "post_idronboarding",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "business_id": {
                    "type": "string",
                    "description": "Your LINK business identifier"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "tags": ["IDR Ramp"],
        "summary": "Onboarding"
      }
    },
    "/transactions/v2/idr/rate": {
      "get": {
        "description": "",
        "operationId": "get_new-endpoint-idr-rate",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "description": "Amount in BRL to convert. Minimum 20,000 IDR",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "description": "Your LINK business identifier",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "tags": ["IDR Ramp"],
        "summary": "IDR Rate Quote"
      }
    },
    "/transactions/v2/idr/initiate_onramp": {
      "post": {
        "description": "",
        "operationId": "post_initiate_idr_onram",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "amount": {
                    "type": "string",
                    "description": "IDR amount to convert (amount used in to get quote). "
                  },
                  "wallet_address": {
                    "type": "string",
                    "description": "Wallet address where token will be sent to."
                  },
                  "stables": {
                    "type": "string",
                    "description": "Stablecoin to receive in USDT.",
                    "enum": ["USDT"]
                  }
                },
                "type": "object",
                "required": ["amount", "wallet_address", "stables"]
              }
            }
          }
        },
        "tags": ["IDR Ramp"],
        "summary": "IDR Auto Onramp"
      }
    },
    "/transactions/v2/idr/direct_withdraw": {
      "post": {
        "description": "",
        "operationId": "post_idrdirect_withdraw",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "bankName": {
                    "type": "string",
                    "description": "Full name of the beneficiary bank. Use the \"Fetch Payment banks\" ENDPOINT to fetch the list of supported payment banks for IDR."
                  },
                  "bankCode": {
                    "type": "string",
                    "description": "The bank\u2019s ISO/local code. Use the \"Fetch Payment banks\" ENDPOINT to fetch the bank code for IDR bank selected."
                  }
                },
                "type": "object",
                "required": ["bankName", "bankCode"]
              }
            }
          }
        },
        "tags": ["IDR Ramp"],
        "summary": "IDR Auto Offramp"
      }
    },
    "/otc/business_customer": {
      "post": {
        "summary": "Create Customer",
        "description": "Register a new business customer. Returns a unique `CustomerID` and a KYB link for compliance verification. Requires an `idempotency-key` header to prevent duplicate submissions. Not available in test mode.",
        "operationId": "post_otc_business_customer",
        "tags": ["OTC"],
        "parameters": [
          {
            "in": "header",
            "name": "idempotency-key",
            "schema": { "type": "string" },
            "required": true,
            "description": "A unique key (e.g. UUID) to prevent duplicate customer creation on retries."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["business_name", "business_email", "phone_number", "registered_address", "registered_country"],
                "properties": {
                  "business_name": {
                    "type": "string",
                    "description": "Legal name of the customer's business."
                  },
                  "business_email": {
                    "type": "string",
                    "format": "email",
                    "description": "Business contact email address."
                  },
                  "phone_number": {
                    "type": "string",
                    "description": "Business phone number including country code."
                  },
                  "registered_address": {
                    "type": "string",
                    "description": "Registered business address."
                  },
                  "registered_country": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-3 country code (e.g. NGA, USA, GBR).",
                    "pattern": "^[A-Z]{3}$",
                    "example": "NGA"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code":       { "type": "string", "example": "CRT_SUCCESSFUL" },
                    "CustomerID": { "type": "string", "example": "acm123456", "description": "Unique customer ID to pass in onramp/offramp requests." },
                    "KYB_Link":   { "type": "string", "format": "uri", "description": "KYB form link for compliance verification." },
                    "message":    { "type": "string", "example": "Customer created." }
                  }
                }
              }
            }
          },
          "400": { "description": "Missing/invalid fields or duplicate idempotency key." },
          "403": { "description": "Endpoint not available in test mode." },
          "500": { "description": "Internal server error." }
        }
      },
      "get": {
        "summary": "Get Customer",
        "description": "Retrieve a single customer by `customer_id`. Not available in test mode.",
        "operationId": "get_otc_business_customer",
        "tags": ["OTC"],
        "parameters": [
          {
            "in": "query",
            "name": "customer_id",
            "schema": { "type": "string" },
            "required": true,
            "description": "The customer ID returned when the customer was created."
          }
        ],
        "responses": {
          "200": {
            "description": "Customer retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code":    { "type": "string", "example": "GET_SUCCESSFUL" },
                    "message": { "type": "string", "example": "Customer retrieved." },
                    "data": {
                      "type": "object",
                      "properties": {
                        "customer_id":      { "type": "string" },
                        "customer_name":    { "type": "string" },
                        "customer_email":   { "type": "string" },
                        "customer_phone":   { "type": "string" },
                        "customer_address": { "type": "string" },
                        "customer_country": { "type": "string" },
                        "status":           { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": { "description": "Endpoint not available in test mode." },
          "404": { "description": "Customer not found." },
          "500": { "description": "Internal server error." }
        }
      }
    },
    "/otc/business_customers": {
      "get": {
        "summary": "Get All Customers",
        "description": "Retrieve all customers registered under your business account. Not available in test mode.",
        "operationId": "get_otc_business_customers",
        "tags": ["OTC"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Customers retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code":    { "type": "string", "example": "GET_SUCCESSFUL" },
                    "message": { "type": "string", "example": "Customers retrieved." },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customer_id":      { "type": "string" },
                          "customer_name":    { "type": "string" },
                          "customer_email":   { "type": "string" },
                          "customer_phone":   { "type": "string" },
                          "customer_address": { "type": "string" },
                          "customer_country": { "type": "string" },
                          "status":           { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": { "description": "Endpoint not available in test mode." },
          "404": { "description": "No customers found." },
          "500": { "description": "Internal server error." }
        }
      }
    },
    "/otc/rate_quote": {
      "get": {
        "description": "",
        "operationId": "get_business-rate-quote",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "currency",
            "schema": {
              "type": "string",
              "enum": ["AED", "AOA", "BIF", "CDF", "DZD", "EGP", "ETB", "EUR", "GBP", "GHS", "LYD", "MAD", "MUR", "MWK", "MZN", "NGN", "SGD", "SLE", "SSP", "TRY", "TZS", "UGX", "USD", "XAF", "XOF"]
            },
            "required": true,
            "description": "Fiat currency used to onramp or receive offramp."
          },
          {
            "in": "query",
            "name": "trx_type",
            "schema": {
              "type": "string",
              "enum": ["onramp", "offramp"]
            },
            "description": "Transaction type: \"onramp\" for \"Fiat\"\u2192USDC, \"offramp\" for USDC\u2192\"Fiat\".",
            "required": true
          },
          {
            "in": "query",
            "name": "amount",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Amount Business wants to Onramp(Fiat) OR offramp(Stables)."
          }
        ],
        "tags": ["OTC"],
        "summary": "OTC Rate Quote"
      }
    },
    "/otc/onramp": {
      "post": {
        "description": "Initiate a fiat \u2192 stablecoin onramp via LINK\u2019s OTC desk. Provide core transaction details plus your banking details (the account you are paying FROM). Once a transaction (onramp) has been initiated, settlement account details are delivered to you through a `banking_details_received` webhook.",
        "operationId": "post_otc_onramp",
        "responses": {
          "201": {
            "description": "Transaction created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string", "example": "TXN_SUCCESSFUL" },
                    "status": { "type": "string", "example": "Success" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "transaction_id": { "type": "string" },
                        "reference": { "type": "string", "example": "link-otc-12345678" },
                        "type": { "type": "string", "example": "onramp" },
                        "currency": { "type": "string" },
                        "amount": { "type": "string" },
                        "stables": { "type": "string" },
                        "payout_amount": { "type": "string" },
                        "rate": { "type": "number" },
                        "transaction_status": { "type": "string", "example": "pending" },
                        "payment_method": { "type": "string" },
                        "date_created": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Validation error \u2014 missing or invalid fields" },
          "503": { "description": "OTC bot unavailable \u2014 retry" }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["customer_id", "currency", "amount", "stables", "wallet_address", "network", "paymentDetails"],
                "properties": {
                  "customer_id": {
                    "type": "string",
                    "description": "Your platform\u2019s customer ID for this transaction."
                  },
                  "currency": {
                    "type": "string",
                    "description": "Fiat currency being sent.",
                    "enum": ["AED", "AOA", "BIF", "CDF", "DZD", "EGP", "ETB", "EUR", "GBP", "GHS", "LYD", "MAD", "MUR", "MWK", "MZN", "NGN", "SGD", "SLE", "SSP", "TRY", "TZS", "UGX", "USD", "XAF", "XOF"]
                  },
                  "amount": {
                    "type": "string",
                    "description": "Fiat amount being sent."
                  },
                  "stables": {
                    "type": "string",
                    "enum": ["USDC", "USDT"],
                    "description": "Stablecoin to receive."
                  },
                  "wallet_address": {
                    "type": "string",
                    "description": "Destination wallet address for the stablecoin."
                  },
                  "network": {
                    "type": "string",
                    "description": "Blockchain network (e.g., solana, polygon)."
                  },
                  "paymentDetails": {
                    "type": "object",
                    "description": "Your banking details \u2014 the account you are paying FROM. Required fields depend on your currency\u2019s payment method. Call GET /otc/rate_quote first to get the paymentMethod for your currency.",
                    "oneOf": [
                      {
                        "title": "NIP \u2014 Bank Transfer (NGN, GHS)",
                        "required": ["accountNumber", "accountName", "bankName"],
                        "properties": {
                          "accountNumber": { "type": "string" },
                          "accountName": { "type": "string" },
                          "bankName": { "type": "string" }
                        }
                      },
                      {
                        "title": "ACH (USD)",
                        "required": ["accountNumber", "routingNumber", "accountName"],
                        "properties": {
                          "accountNumber": { "type": "string" },
                          "routingNumber": { "type": "string" },
                          "accountName": { "type": "string" },
                          "bankName": { "type": "string" }
                        }
                      },
                      {
                        "title": "Local Bank Transfer (AED, AOA, BIF, CDF, DZD, EGP, ETB, EUR, GBP, LYD, MAD, MUR, MWK, MZN, SGD, SLE, SSP, TRY, TZS, UGX, XAF, XOF)",
                        "required": ["accountNumber", "accountName", "bankName"],
                        "properties": {
                          "accountNumber": { "type": "string" },
                          "accountName": { "type": "string" },
                          "bankName": { "type": "string" },
                          "swiftCode": { "type": "string", "description": "Optional \u2014 include if known." },
                          "iban": { "type": "string" },
                          "branchCode": { "type": "string" },
                          "sortCode": { "type": "string" }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": ["OTC"],
        "summary": "OTC Onramp"
      }
    },
    "/otc/offramp": {
      "post": {
        "description": "Initiate a stablecoin \u2192 fiat payout via LINK\u2019s OTC desk. Provide core transaction details plus your settlement banking details (the account you want to receive fiat INTO).",
        "operationId": "post_otc_offramp",
        "responses": {
          "201": {
            "description": "Transaction created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string", "example": "TXN_SUCCESSFUL" },
                    "status": { "type": "string", "example": "Success" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "transaction_id": { "type": "string" },
                        "reference": { "type": "string", "example": "link-otc-87654321" },
                        "type": { "type": "string", "example": "offramp" },
                        "stables": { "type": "string" },
                        "amount": { "type": "string" },
                        "currency": { "type": "string" },
                        "payout_amount": { "type": "string" },
                        "rate": { "type": "number" },
                        "transaction_status": { "type": "string", "example": "pending" },
                        "payment_method": { "type": "string" },
                        "date_created": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Validation error \u2014 missing or invalid fields" },
          "503": { "description": "OTC bot unavailable \u2014 retry" }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["customer_id", "currency", "amount", "stables", "wallet_address", "network", "paymentDetails"],
                "properties": {
                  "customer_id": {
                    "type": "string",
                    "description": "Your platform\u2019s customer ID for this transaction."
                  },
                  "currency": {
                    "type": "string",
                    "description": "Fiat currency to receive.",
                    "enum": ["AED", "AOA", "BIF", "CDF", "DZD", "EGP", "ETB", "EUR", "GBP", "GHS", "LYD", "MAD", "MUR", "MWK", "MZN", "NGN", "SGD", "SLE", "SSP", "TRY", "TZS", "UGX", "USD", "XAF", "XOF"]
                  },
                  "amount": {
                    "type": "string",
                    "description": "Stablecoin amount being sent."
                  },
                  "stables": {
                    "type": "string",
                    "enum": ["USDC", "USDT"],
                    "description": "Stablecoin being sent."
                  },
                  "wallet_address": {
                    "type": "string",
                    "description": "Wallet address sending the stablecoin."
                  },
                  "network": {
                    "type": "string",
                    "description": "Blockchain network (e.g., solana, polygon)."
                  },
                  "paymentDetails": {
                    "type": "object",
                    "description": "Your settlement banking details \u2014 the account you want to receive fiat INTO. Required fields depend on your currency\u2019s payment method. Call GET /otc/rate_quote first to get the paymentMethod for your currency.",
                    "oneOf": [
                      {
                        "title": "NIP \u2014 Bank Transfer (NGN, GHS)",
                        "required": ["accountNumber", "accountName", "bankName"],
                        "properties": {
                          "accountNumber": { "type": "string" },
                          "accountName": { "type": "string" },
                          "bankName": { "type": "string" }
                        }
                      },
                      {
                        "title": "ACH (USD)",
                        "required": ["accountNumber", "routingNumber", "accountName"],
                        "properties": {
                          "accountNumber": { "type": "string" },
                          "routingNumber": { "type": "string" },
                          "accountName": { "type": "string" },
                          "bankName": { "type": "string" }
                        }
                      },
                      {
                        "title": "Local Bank Transfer (AED, AOA, BIF, CDF, DZD, EGP, ETB, EUR, GBP, LYD, MAD, MUR, MWK, MZN, SGD, SLE, SSP, TRY, TZS, UGX, XAF, XOF)",
                        "required": ["accountNumber", "accountName", "bankName"],
                        "properties": {
                          "accountNumber": { "type": "string" },
                          "accountName": { "type": "string" },
                          "bankName": { "type": "string" },
                          "swiftCode": { "type": "string", "description": "Optional \u2014 include if known." },
                          "iban": { "type": "string" },
                          "branchCode": { "type": "string" },
                          "sortCode": { "type": "string" }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": ["OTC"],
        "summary": "OTC Offramp"
      }
    },
    "/otc/pop": {
      "post": {
        "summary": "Upload Proof of Payment",
        "description": "Upload proof of payment for an existing OTC onramp transaction. Submit after transferring fiat to the settlement account so the partner can confirm receipt. Accepts JPEG, PNG, GIF, or PDF files up to 2 MB.",
        "operationId": "post_otc_pop",
        "tags": ["OTC"],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["reference", "file"],
                "properties": {
                  "reference": {
                    "type": "string",
                    "description": "The transaction reference returned when the onramp was created (e.g. link-otc-12345678).",
                    "example": "link-otc-12345678"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Proof of payment file. Accepted types: JPEG, PNG, GIF, PDF. Maximum size: 3 MB."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Proof of payment uploaded and forwarded to the OTC partner.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string", "example": "POP_UPLOADED" },
                    "status": { "type": "string", "example": "Success" },
                    "message": { "type": "string", "example": "Proof of payment uploaded successfully." },
                    "data": {
                      "type": "object",
                      "properties": {
                        "reference": { "type": "string", "example": "link-otc-12345678" },
                        "filename": { "type": "string", "example": "receipt.pdf" },
                        "submitted_at": { "type": "string", "format": "date-time" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error — missing fields, unsupported file type, or file exceeds 3 MB.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string", "example": "POP_INVALID_FILE" },
                    "message": { "type": "string", "example": "File too large. Please reduce the file size to under 3 MB." }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found for the given reference."
          },
          "503": {
            "description": "OTC bot unavailable — proof of payment could not be forwarded. Retry later."
          }
        }
      }
    },
    "/transactions/v2/fetch_all_transactions": {
      "get": {
        "summary": "Get All Transactions",
        "description": "Retrieve paginated onramp and/or offramp transactions for your business. Supports filtering by transaction type and date range. Results are sorted newest first.",
        "operationId": "fetch_transactions",
        "tags": ["Transactions"],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filter by transaction direction. Omit to return both onramp and offramp transactions.",
            "schema": {
              "type": "string",
              "enum": ["onramp", "offramp"]
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (1-based). Defaults to 1.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of transactions per page. Defaults to 20, maximum 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Start of date range (ISO 8601, e.g. 2026-01-01). Inclusive.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2026-01-01"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "End of date range (ISO 8601, e.g. 2026-06-30). Inclusive — covers the full day up to 23:59:59.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2026-06-30"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status":  { "type": "string", "example": "Success" },
                    "message": { "type": "string", "example": "Transactions retrieved." },
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "business_id":            { "type": "string" },
                          "transaction_reference":  { "type": "string", "example": "link-otc-12345678" },
                          "transaction_type":       { "type": "string", "enum": ["onramp", "offramp"] },
                          "amount":                 { "type": "number" },
                          "currency":               { "type": "string", "example": "NGN" },
                          "stable":                 { "type": "string", "example": "USDC" },
                          "payout_amount":          { "type": "number" },
                          "rate":                   { "type": "number" },
                          "payment_method":         { "type": "string", "example": "NIP" },
                          "transaction_status":     { "type": "string", "example": "pending" },
                          "transaction_date":       { "type": "string", "example": "June 05, 2026 14:30:00" }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total":       { "type": "integer", "example": 347, "description": "Total matching transactions across all pages." },
                        "page":        { "type": "integer", "example": 1 },
                        "limit":       { "type": "integer", "example": 20 },
                        "total_pages": { "type": "integer", "example": 18 }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameter (e.g. malformed date).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status":  { "type": "string", "example": "Failed" },
                    "message": { "type": "string", "example": "Invalid 'from' date." }
                  }
                }
              }
            }
          },
          "500": { "description": "Internal server error." }
        },
        "deprecated": false
      }
    },
    "/transactions/v2/fetch_transaction": {
      "get": {
        "summary": "Get a Transaction",
        "description": "",
        "operationId": "fetch_single_transaction",
        "parameters": [
          {
            "name": "transaction_reference",
            "in": "query",
            "description": "Reference generated for each transaction request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": ["Transactions"]
      }
    },
    "/static/v2/payment_vendors": {
      "get": {
        "summary": "Get Payment Vendors",
        "description": "Query list of supported vendor account details for onramp transaction",
        "operationId": "payment_vendors",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "description": "Pass selected currency NGN, USD to get vendor bank details",
            "schema": {
              "type": "string",
              "default": "NGN",
              "enum": ["NGN", "USD"]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  status: 'success',\n        message: 'Test Vendor accounts',\n        VendorList: [\n          {\n            vendorName: 'John Bucknor',\n            vendorNumber: '9483048732',\n            vendorBank: 'Wema Bank',\n          },\n          {\n            vendorName: 'Vanessa Williams',\n            vendorNumber: '7483048732',\n            vendorBank: 'GT Bank',\n          },\n          ..........\n       ],\n    });\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": ["Static Details"]
      }
    },
    "/static/v2/payment_banks": {
      "get": {
        "summary": "Get Payment Banks",
        "description": "Query all available banks for a specified currency",
        "operationId": "payment_banks",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "description": "Pass selected currency NGN, USD, BRL to get Bank list.",
            "schema": {
              "type": "string",
              "default": "NGN",
              "enum": ["NGN", "USD", "BRL"]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  status: 'success',\n        message: 'Test Vendor accounts',\n        VendorList: [\n          {\n            vendorName: 'John Bucknor',\n            vendorNumber: '9483048732',\n            vendorBank: 'Wema Bank',\n          },\n          {\n            vendorName: 'Vanessa Williams',\n            vendorNumber: '7483048732',\n            vendorBank: 'GT Bank',\n          },\n          ..........\n       ],\n    });\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": ["Static Details"]
      }
    },
    "/static/v2/payment_wallets": {
      "get": {
        "summary": "Get Payment Wallets",
        "description": ".Query available wallet addresses for offramp transaction.",
        "operationId": "payment_wallets",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  status: 'success',\n        message: 'Test Vendor accounts',\n        VendorList: [\n          {\n            vendorName: 'John Bucknor',\n            vendorNumber: '9483048732',\n            vendorBank: 'Wema Bank',\n          },\n          {\n            vendorName: 'Vanessa Williams',\n            vendorNumber: '7483048732',\n            vendorBank: 'GT Bank',\n          },\n          ..........\n       ],\n    });\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": ["Static Details"]
      }
    },
    "/static/v2/business_payment_vendors": {
      "get": {
        "description": "",
        "operationId": "get_business_payment_vendors",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "currency",
            "schema": {
              "type": "string",
              "enum": [
                "AED",
                "AUD",
                "BRL",
                "CAD",
                "CNY",
                "DKK",
                "EUR",
                "GBP",
                "HKD",
                "ILS",
                "MXN",
                "NGN",
                "PHP",
                "SGD",
                "USD",
                "ZAR"
              ]
            },
            "description": "Pass selected currency to get vendor bank details.",
            "required": true
          }
        ],
        "tags": ["Static Details"],
        "summary": "Get Business Payment Vendors"
      }
    },
    "/accounts/v2/wallet_balance": {
      "get": {
        "summary": "Get Available Balance",
        "description": "For customer's who hold funds in house with LINK.",
        "operationId": "get-account-balance",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": ["Accounts"]
      }
    },
    "/accounts/v2/verify_account_number": {
      "get": {
        "summary": "Verify Account Number",
        "description": "This endpoint can be used to verify a Nigeria bank account number",
        "operationId": "account_name",
        "parameters": [
          {
            "name": "account_number",
            "in": "query",
            "description": "Customer account number.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bank_code",
            "in": "query",
            "description": "Get value for this field from the \"Get payment banks endpoint\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  status: 'success',\n        message: 'Test Vendor accounts',\n        VendorList: [\n          {\n            vendorName: 'John Bucknor',\n            vendorNumber: '9483048732',\n            vendorBank: 'Wema Bank',\n          },\n          {\n            vendorName: 'Vanessa Williams',\n            vendorNumber: '7483048732',\n            vendorBank: 'GT Bank',\n          },\n          ..........\n       ],\n    });\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": ["Accounts"]
      }
    },
    "/accounts/v2/verify_customer_kyc": {
      "post": {
        "summary": "ID Verification",
        "description": "verify users identification. This endpoint is currently only available for Nigeria customers.",
        "operationId": "id-verification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["idType", "idNumber"],
                "properties": {
                  "idType": {
                    "type": "string",
                    "description": "Verification ID types: NIN, BVN, Voters Card",
                    "enum": ["NIN", "BVN", "Voters Card"]
                  },
                  "idNumber": {
                    "type": "string",
                    "description": "Verification ID number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": ["Accounts"]
      }
    },
    "/transactions/v2/esp_onramp": {
      "post": {
        "description": "",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "string"
                  },
                  "vendorId": {
                    "type": "string"
                  },
                  "bankName": {
                    "type": "string"
                  },
                  "accountNumber": {
                    "type": "string"
                  },
                  "walletAddress": {
                    "type": "string"
                  },
                  "kingschatUsername": {
                    "type": "string"
                  },
                  "espeesCard": {
                    "type": "string"
                  },
                  "emailAddress": {
                    "type": "string"
                  }
                },
                "required": [
                  "currency",
                  "amount",
                  "vendorId",
                  "bankName",
                  "accountNumber"
                ]
              }
            }
          }
        },
        "operationId": "post_esp-onramp",
        "tags": ["ESPESS"],
        "summary": "Initiate ESP Onramp"
      }
    },
    "/transactions/v2/esp_offramp": {
      "post": {
        "description": "",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [],
        "operationId": "post_esp-offramp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "bankName": {
                    "type": "string"
                  },
                  "accountNumber": {
                    "type": "string"
                  },
                  "accountName": {
                    "type": "string"
                  },
                  "walletAddress": {
                    "type": "string"
                  },
                  "kingschatUsername": {
                    "type": "string"
                  },
                  "espeesCard": {
                    "type": "string"
                  }
                },
                "required": ["currency", "amount", "bankName", "accountNumber"]
              }
            }
          }
        },
        "tags": ["ESPESS"],
        "summary": "Initiate ESP Offramp"
      }
    },
    "/checkout/sessions/generate": {
      "post": {
        "description": "",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [],
        "operationId": "post_generate-checkout-session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_id": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "integer"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "reference_id": {
                    "type": "string"
                  },
                  "success_url": {
                    "type": "string"
                  },
                  "cancel_url": {
                    "type": "string"
                  }
                },
                "required": [
                  "currency",
                  "amount",
                  "business_id",
                  "reference_id",
                  "cancel_url",
                  "success_url"
                ]
              }
            }
          }
        },
        "tags": ["Checkout"],
        "summary": "Generate session"
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true,
  "tags": [
    {
      "name": "Retail FX"
    },
    {
      "name": "Pan-Africa Ramp"
    },
    {
      "name": "BRL Ramp"
    },
    {
      "name": "IDR Ramp"
    },
    {
      "name": "OTC"
    },
    {
      "name": "Customers"
    },
    {
      "name": "Static Details"
    },
    {
      "name": "Transactions"
    },
    {
      "name": "Accounts"
    },
    {
      "name": "ESPESS"
    }
  ]
}
